@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanssc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

input, button, select, textarea, body{
  font-family: 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}
.parrot { color: #FF7700; }
.godfat { color: #BB0077; }

.shadow {color: #FF0000;}
.hunter  {color: #0000FF;}
.neutral {color: #CC33FF;}

.lover   {color: #FF69B4}
.religion {color: #EEAA55}
.guardian {color: #009900}

