@import url(core.css);

body {
  background-color: #FFF5EE;
  background-image: url(&quot;images/top_bg.jpg&quot;);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}
img {
  border: 0;
}
.comment { /* サーバ名 */
  text-align: right;
  font-weight: bold;
}
noscript { /* JavaScript が無効の場合のワーニング */
  color: #FF0000;
  font-size: 15pt;
  font-weight: bold;
}
table.main { /* 全体の table */
  border: 0;
  width: 100%;
  padding: 5px;
}
table.main td {
  vertical-align: top;
}
.menu  {
  width: 140px;
}
.information { /* Information (中身は info/top.php) */
  margin: 10px 10px;
}
.information h1, .information h2, .information h3, .information h4 {
  margin: 10px 0px;
  padding: 0px;
}
.information h1 { font-size: 120%; }
.information h2 { font-size: 100%; }
.information h3 { font-size: 100%; }
.information h4 { font-size: 100%; }
form { /* 村の作成フォーム */
  margin-top: 10px;
}
label { /* 村作成のオプション名 */
  margin-left: 1em;
  font-weight: bold;
}
input, select { /* 設定項目 */
  background-color: #F0F8FF;
  border: 1px solid #C0C0C0;
}
.text { /* 村の名前, 説明など */
  border: 1px solid #C0C0C0;
}
.explain { /* オプションの説明 */
  filter: alpha(opacity=70, enabled=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  background-color: #FFFFFF;
  font-size: 80%;
}
.make { /* 作成ボタン */
  text-align: right;
}
.make input {
  border: 1px solid #000000;
}
.footer { /* フッター (バージョン情報など) */
  margin-bottom: 5px;
  text-align: right;
  font-size: 80%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin-left: -32px;
  *margin-left: 8px; /* IE6 対応 */
  list-style-type: none;
  line-height: 150%;
  font-size: 95%;
}
.menu {
  padding: 5px 1px;
  background-color: #CCFFCC;
  border: 1px solid #CC3300;
  text-align: center;
  font-weight: bold;
}
fieldset {
  margin-bottom: 10px;
}
legend { /* fieldset のタイトル */
  font-weight: bold;
}
.game-list { /* ゲーム一覧 (中身は room_manager.php) */
  margin: 20px 20px 30px;
  line-height: 135%;
}
.game-list div {
  text-align: right;
}
.room_comment {text-align: right;}
.room_option {font-size: 80%;}
h1, h2, h3, h4, h5 {
  filter: alpha(opacity=80, enabled=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin: 0px;
  padding: 5px 0px;
}
h1 {
  background-color: #CCFFCC;
  font-size: 200%;
}
h2 {
  background-color: #CCFFFF;
  font-size: 150%;
}
h3 {
  background-color: #FFDDDD;
  font-size: 120%;
}
h4 {
  background-color: #DDDDEE;
  font-size: 100%;
}
h5 {
  background-color: #DDDDDD;
  font-size: 90%;
}
